.alert {
/*    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
/*    margin-bottom: 15px;
    text-align: center;*/*/

    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

/*.alert.success {
    background-color: #4CAF50;
}

.alert.warning {
    background-color: #e01d1d;
}*/

#success{

    color: #65ce31;

}

#failed{

    color: red;

}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1ec5f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.link{

    color: black;
    font-weight: bold;

}