/*Custom Style*/

/*Table Style*/

table {

    border-collapse: collapse;
    width: 100%;

}

th, td {

    text-align: left;
    padding: 8px;

}

tr:nth-child(even){

	background-color: #bab8b8;

}

th {

    background-color: #3f8f96;
    color: white;

}

/*Button Style*/

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1ec5f4;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover{
    
    color: white;
    background-color: #2896a0;

}

/*Button in the add lesson*/

#lesson{

	background-color: #1ec5f4;

}

#lesson:hover{

	color: white;
	background-color: #2896a0;

}

/*Lesson Subtitle*/

.subtitle{

  color: #2896a0;
  font-weight: 300;
  font-size: 18px;

}